In [61]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os

from sklearn.model_selection import train_test_split

from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import r2_score

from sklearn.impute import KNNImputer

from scipy.stats import shapiro
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

from sklearn.preprocessing import OneHotEncoder

from sklearn.inspection import permutation_importance
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import learning_curve
from sklearn.model_selection import GridSearchCV

import pickle

In [28]:
immoSV_df = pd.read_csv(r'C:\Users\Admin\Documents\marianneSimplon\simplon\immo_SiliconValley_marianneD\data\traindata_ori.csv',delimiter=',', decimal='.')
immoSV_df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [29]:
# Supression de la colonne Unnamed: 0
immoSV_df = immoSV_df.drop("Unnamed: 0", axis=1)

In [30]:
immoSV_df.dropna(axis=0, inplace=True)

In [31]:
immoSV_df = immoSV_df.reset_index(inplace=False)
immoSV_df = immoSV_df.drop("index", axis=1)

In [32]:
df = immoSV_df.copy()

### Split du dataset en un dataset train et un dataset test

In [33]:
immoSV_train, immoSV_test = train_test_split(immoSV_df, test_size=0.3)

In [34]:
immoSV_train.shape

(11435, 10)

In [35]:
immoSV_test.shape

(4901, 10)

### Scaling par normalisation

In [36]:
# Liste des colonnes de données numériques à Scaler
immoSV_num_columns_list = list(immoSV_train.columns)
immoSV_num_columns_list.remove('ocean_proximity')
immoSV_num_columns_list.remove('median_house_value')

In [37]:
sc = MinMaxScaler()
ft_sc = sc.fit(immoSV_train[immoSV_num_columns_list])
immoSV_train[immoSV_num_columns_list] = ft_sc.transform(immoSV_train[immoSV_num_columns_list])

In [38]:
immoSV_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16269,0.203203,0.533475,0.078431,0.129577,0.182679,0.050646,0.176151,0.358181,322200.0,NEAR BAY
6166,0.601602,0.134963,0.352941,0.184994,0.238398,0.111830,0.231908,0.314016,218200.0,<1H OCEAN
15248,0.699700,0.201913,0.176471,0.045477,0.046097,0.029513,0.050987,0.213845,104000.0,INLAND
8282,0.598599,0.166844,0.803922,0.064749,0.083967,0.023936,0.078947,0.247128,434400.0,<1H OCEAN
16021,0.273273,0.737513,0.274510,0.005167,0.008071,0.003980,0.006250,0.022434,42500.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
14646,0.720721,0.003188,0.490196,0.061612,0.057271,0.034138,0.060855,0.266217,144900.0,NEAR OCEAN
11907,0.236236,0.503719,0.509804,0.075216,0.071706,0.031980,0.070395,0.316016,327500.0,<1H OCEAN
13752,0.524525,0.383634,0.470588,0.063167,0.073879,0.042714,0.075493,0.125481,52900.0,INLAND
11639,0.220220,0.575983,0.470588,0.036065,0.031662,0.015864,0.038322,0.404822,235500.0,NEAR BAY
14089,0.686687,0.150903,0.549020,0.003111,0.003104,0.001317,0.002632,0.830209,112500.0,INLAND

In [39]:
immoSV_test[immoSV_num_columns_list] = ft_sc.transform(immoSV_test[immoSV_num_columns_list])

In [40]:
immoSV_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
606,0.616617,0.143464,0.627451,0.032796,0.042527,0.024188,0.043750,0.253162,175000.0,<1H OCEAN
11280,0.501502,0.404888,0.274510,0.045715,0.049201,0.037249,0.050329,0.143060,60200.0,INLAND
14381,0.186186,0.558980,1.000000,0.075479,0.091883,0.013930,0.054770,0.312941,500001.0,NEAR BAY
8288,0.590591,0.157279,0.509804,0.013419,0.030886,0.011043,0.037171,0.131971,184400.0,<1H OCEAN
10927,0.300300,0.648247,0.372549,0.131686,0.128512,0.065220,0.136184,0.247128,160000.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
9459,0.158158,0.626993,1.000000,0.004798,0.009312,0.008352,0.011513,0.030606,129200.0,<1H OCEAN
12599,0.621622,0.165781,0.764706,0.050038,0.060686,0.033073,0.059539,0.218597,210400.0,<1H OCEAN
7480,0.709710,0.027630,0.352941,0.020564,0.043458,0.014630,0.037336,0.084647,137500.0,NEAR OCEAN
441,0.226226,0.606801,0.705882,0.030845,0.044855,0.018078,0.044243,0.152881,92200.0,INLAND
12526,0.236236,0.506908,0.568627,0.111571,0.156449,0.053561,0.159539,0.225052,307000.0,<1H OCEAN

In [41]:
immoSV_train_sc = immoSV_train.copy()
immoSV_test_sc = immoSV_test.copy()

In [42]:
immoSV_train_sc.shape

(11435, 10)

In [43]:
immoSV_test_sc.shape

(4901, 10)

### Encoding par OneHotEncoder

In [44]:
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = enc.fit(immoSV_train_sc[['ocean_proximity']])
enc_df = pd.DataFrame(enc.transform(immoSV_train_sc[['ocean_proximity']]).toarray())

In [45]:
enc_df.shape

(11435, 5)

In [46]:
immoSV_train_sc.shape

(11435, 10)

In [47]:
immoSV_train_sc = immoSV_train_sc.reset_index()
immoSV_train_sc = immoSV_train_sc.merge(enc_df,how='inner', on=immoSV_train_sc["index"])
immoSV_train_sc = immoSV_train_sc.drop(['key_0','index','ocean_proximity'], axis=1)
immoSV_train_sc.rename({0: 'NEAR_OCEAN', 1: 'NEAR_BAY',2: 'ISLAND', 3: 'INLAND', 4: 'H_OCEAN'}, inplace=True, axis=1)
immoSV_train_sc

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,NEAR_OCEAN,NEAR_BAY,ISLAND,INLAND,H_OCEAN
0,0.203203,0.533475,0.078431,0.129577,0.182679,0.050646,0.176151,0.358181,322200.0,0.0,0.0,0.0,1.0,0.0
1,0.601602,0.134963,0.352941,0.184994,0.238398,0.111830,0.231908,0.314016,218200.0,1.0,0.0,0.0,0.0,0.0
2,0.699700,0.201913,0.176471,0.045477,0.046097,0.029513,0.050987,0.213845,104000.0,0.0,1.0,0.0,0.0,0.0
3,0.598599,0.166844,0.803922,0.064749,0.083967,0.023936,0.078947,0.247128,434400.0,1.0,0.0,0.0,0.0,0.0
4,0.273273,0.737513,0.274510,0.005167,0.008071,0.003980,0.006250,0.022434,42500.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11430,0.720721,0.003188,0.490196,0.061612,0.057271,0.034138,0.060855,0.266217,144900.0,0.0,0.0,0.0,0.0,1.0
11431,0.236236,0.503719,0.509804,0.075216,0.071706,0.031980,0.070395,0.316016,327500.0,1.0,0.0,0.0,0.0,0.0
11432,0.524525,0.383634,0.470588,0.063167,0.073879,0.042714,0.075493,0.125481,52900.0,0.0,1.0,0.0,0.0,0.0
11433,0.220220,0.575983,0.470588,0.036065,0.031662,0.015864,0.038322,0.404822,235500.0,0.0,0.0,0.0,1.0,0.0
11434,0.686687,0.150903,0.549020,0.003111,0.003104,0.001317,0.002632,0.830209,112500.0,0.0,1.0,0.0,0.0,0.0

In [48]:
enc_df = pd.DataFrame(enc.transform(immoSV_test_sc[['ocean_proximity']]).toarray())

In [49]:
enc_df.shape

(4901, 5)

In [50]:
immoSV_test_sc = immoSV_test_sc.reset_index()
immoSV_test_sc = immoSV_test_sc.merge(enc_df,how='inner', on=immoSV_test_sc["index"])
immoSV_test_sc = immoSV_test_sc.drop(['key_0','index','ocean_proximity'], axis=1)
immoSV_test_sc.rename({0: 'NEAR_OCEAN', 1: 'NEAR_BAY',2: 'ISLAND', 3: 'INLAND', 4: 'H_OCEAN'}, inplace=True, axis=1)
immoSV_test_sc

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,NEAR_OCEAN,NEAR_BAY,ISLAND,INLAND,H_OCEAN
0,0.616617,0.143464,0.627451,0.032796,0.042527,0.024188,0.043750,0.253162,175000.0,1.0,0.0,0.0,0.0,0.0
1,0.501502,0.404888,0.274510,0.045715,0.049201,0.037249,0.050329,0.143060,60200.0,0.0,1.0,0.0,0.0,0.0
2,0.186186,0.558980,1.000000,0.075479,0.091883,0.013930,0.054770,0.312941,500001.0,0.0,0.0,0.0,1.0,0.0
3,0.590591,0.157279,0.509804,0.013419,0.030886,0.011043,0.037171,0.131971,184400.0,1.0,0.0,0.0,0.0,0.0
4,0.300300,0.648247,0.372549,0.131686,0.128512,0.065220,0.136184,0.247128,160000.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4896,0.158158,0.626993,1.000000,0.004798,0.009312,0.008352,0.011513,0.030606,129200.0,1.0,0.0,0.0,0.0,0.0
4897,0.621622,0.165781,0.764706,0.050038,0.060686,0.033073,0.059539,0.218597,210400.0,1.0,0.0,0.0,0.0,0.0
4898,0.709710,0.027630,0.352941,0.020564,0.043458,0.014630,0.037336,0.084647,137500.0,0.0,0.0,0.0,0.0,1.0
4899,0.226226,0.606801,0.705882,0.030845,0.044855,0.018078,0.044243,0.152881,92200.0,0.0,1.0,0.0,0.0,0.0
4900,0.236236,0.506908,0.568627,0.111571,0.156449,0.053561,0.159539,0.225052,307000.0,1.0,0.0,0.0,0.0,0.0

In [51]:
immoSV_train_enc = immoSV_train_sc.copy()
immoSV_test_enc = immoSV_test_sc.copy()

### Definition X et y

In [52]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [ ]:
X = df.drop(["median_house_value"], axis=1)
y = df[["median_house_value"]]

### Modelisation

In [54]:
model = KNeighborsRegressor()

In [55]:
# # 5-Fold Cross validate model
# cv_results = cross_validate(model, X, y, cv=5)
# # obtain the mean of scores
# cv_results['test_score'].mean()

In [58]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7984925635888183
Test score : 0.7050650643364693

In [59]:
y_pred = model.predict(X_test)
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 3972366777.2786613
RMSE : 63026.71479046533
MAE : 42969.26921036523

In [63]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6917302644463629
MSE : 4114636684.7348185
RMSE : 64740.89539243771
MAE : 43582.63492785308

### Feature importance

In [64]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND"], axis=1)

In [65]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [127]:
# X_train.to_csv('./datasets/X_train.csv', index=False)
# X_test.to_csv('./datasets/X_test.csv', index=False)
# y_train.to_csv('./datasets/y_train.csv', index=False)
# y_test.to_csv('./datasets/y_test.csv', index=False)

In [3]:
# X_train = pd.read_csv('./datasets/X_train.csv')
# X_test = pd.read_csv('./datasets/X_test.csv')
# y_train = pd.read_csv('./datasets/y_train.csv')
# y_test = pd.read_csv('./datasets/y_test.csv')

In [ ]:
model = KNeighborsRegressor()

In [66]:
# # 5-Fold Cross validate model
# cv_results = cross_validate(model, X, y, cv=5)
# # obtain the mean of scores
# cv_results['test_score'].mean()

In [67]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.802993927727252
Test score : 0.7015175373786058

In [68]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [70]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6889828427181414
MSE : 4171650543.715411
RMSE : 64254.25064729459
MAE : 43522.49010931351

### GridSearchCV : n_neighbors=11

In [ ]:
# n_neighbors=11

In [71]:
model = KNeighborsRegressor(n_neighbors=11)

In [72]:
# # 5-Fold Cross validate model
# cv_results = cross_validate(model, X, y, cv=5)
# # obtain the mean of scores
# cv_results['test_score'].mean()

In [73]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7556081628489161
Test score : 0.7037348241485928

In [74]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [75]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6940561884575479
MSE : 4066284939.6169877
RMSE : 63635.49606232357
MAE : 43616.404467941335

# Essais

#### Supression latitude et longitude

In [82]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","latitude"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","latitude"], axis=1)

In [83]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [84]:
model = KNeighborsRegressor()

In [79]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7558121623942534
Test score : 0.6310288348244276

In [80]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [81]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6323949795117798
MSE : 4972909673.771193
RMSE : 70625.73021680006
MAE : 49700.21017927416

#### Supression latitude

In [91]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","longitude"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","longitude"], axis=1)

In [92]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [93]:
model = KNeighborsRegressor()

In [94]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7746626080470614
Test score : 0.6675568874797424

In [95]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [96]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6550296164493786
MSE : 4563523016.455286
RMSE : 67349.75440323292
MAE : 46434.689304766056

#### Supression longitude

In [85]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","latitude"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","latitude"], axis=1)

In [86]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [87]:
model = KNeighborsRegressor()

In [88]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7917553670546098
Test score : 0.6823533705131647

In [89]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [90]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6724154081621936
MSE : 4295696713.814425
RMSE : 65992.2233924516
MAE : 45170.32731088763

#### Supression housing_median_age, total_rooms, total_bedrooms, households

In [141]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","housing_median_age","total_rooms", "total_bedrooms", "households"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","housing_median_age","total_rooms", "total_bedrooms", "households"], axis=1)

In [142]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [143]:
model = KNeighborsRegressor()

In [144]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.8296224293851118
Test score : 0.748949154700165

In [145]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [146]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.7338473045441853
MSE : 3518174112.9044127
RMSE : 59266.24327717068
MAE : 39938.34738959336

#### Supression total_rooms

#### Supression housing_median_age, total_rooms, total_bedrooms, households

In [104]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","total_rooms"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","total_rooms"], axis=1)

In [105]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [106]:
model = KNeighborsRegressor()

In [107]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.8036171154346569
Test score : 0.7022284922802895

In [108]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [109]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6864414041937728
MSE : 4187079038.2765017
RMSE : 64014.91182056741
MAE : 43382.324529951904

#### Supression total_bedrooms

In [110]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","total_bedrooms"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","total_bedrooms"], axis=1)

In [111]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [112]:
model = KNeighborsRegressor()

In [113]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.8052178297289534
Test score : 0.7029303879761059

In [114]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [115]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.694271121208698
MSE : 4074661495.7604685
RMSE : 63898.84011085435
MAE : 43195.88477481417

#### Supression population

In [116]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","population"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","population"], axis=1)

In [117]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [118]:
model = KNeighborsRegressor()

In [119]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7949583305333081
Test score : 0.685435526236607

In [120]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [121]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6775980014582208
MSE : 4252828437.403652
RMSE : 65272.9817903777
MAE : 44680.046821163094

#### Supression households

In [122]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","households"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","households"], axis=1)

In [123]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [124]:
model = KNeighborsRegressor()

In [125]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.8053755305343673
Test score : 0.7050425824896535

In [126]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [127]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6942416116037899
MSE : 4113737442.5113387
RMSE : 63874.99376621291
MAE : 43247.42056843026

#### Supression median_income

In [128]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","median_income"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","median_income"], axis=1)

In [129]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [130]:
model = KNeighborsRegressor()

In [131]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7186522301068083
Test score : 0.5689410364796683

In [132]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [133]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.5471198246438098
MSE : 6100138361.003467
RMSE : 77893.71625136424
MAE : 54520.383926541326

#### Supression NEAR_OCEAN, NEAR_BAY, INLAND

In [134]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","NEAR_OCEAN", "NEAR_BAY", "INLAND"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","NEAR_OCEAN", "NEAR_BAY", "INLAND"], axis=1)

In [135]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [136]:
model = KNeighborsRegressor()

In [137]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7979626890316539
Test score : 0.7008066470594035

In [138]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [139]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.6802474439655155
MSE : 4211188844.5731874
RMSE : 65075.866806611666
MAE : 44666.18116309576

#### Supression housing_median_age

In [98]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","housing_median_age"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","housing_median_age"], axis=1)

In [99]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [100]:
model = KNeighborsRegressor()

In [101]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.8292953338874102
Test score : 0.7417586215135439

In [102]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [103]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.7302307779356358
MSE : 3545900830.539673
RMSE : 60027.26560701622
MAE : 40086.95646698732

#### Supression housing_median_age, total_rooms, total_bedrooms, households

In [141]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","housing_median_age","total_rooms", "total_bedrooms", "households"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","housing_median_age","total_rooms", "total_bedrooms", "households"], axis=1)

In [142]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [143]:
model = KNeighborsRegressor()

In [144]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.8296224293851118
Test score : 0.748949154700165

In [145]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [146]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.7338473045441853
MSE : 3518174112.9044127
RMSE : 59266.24327717068
MAE : 39938.34738959336

#### Supression housing_median_age, total_rooms, total_bedrooms, households et (n_neighbors=11)

In [147]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND","housing_median_age","total_rooms", "total_bedrooms", "households"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND","housing_median_age","total_rooms", "total_bedrooms", "households"], axis=1)

In [148]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [149]:
model = KNeighborsRegressor(n_neighbors=11)

In [150]:
model.fit(X_train,y_train)
model.predict(X_test)
print(f"Train score : {model.score(X_train, y_train)}")
print(f"Test score : {model.score(X_test, y_test)}")

Train score : 0.7931218833623133
Test score : 0.750749730890458

In [151]:
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

MSE : 23428664991.953873
RMSE : 153064.25118868833
MAE : 118385.73564578657

In [152]:
print(f"R² : {cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='r2').mean()}")
print(f"MSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_squared_error').mean()}")
print(f"RMSE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_root_mean_squared_error').mean()}")
print(f"MAE : {-cross_val_score(model,X_train, y_train,cv=KFold(n_splits=5, shuffle=True),scoring='neg_mean_absolute_error').mean()}")

R² : 0.7423732168696122
MSE : 3463747090.161255
RMSE : 58907.40713290281
MAE : 39886.23065548357