In [27]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os

from sklearn.model_selection import train_test_split

from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error

from sklearn.impute import KNNImputer

from scipy.stats import shapiro
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

from sklearn.preprocessing import OneHotEncoder

from sklearn.inspection import permutation_importance
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

from sklearn.neighbors import KNeighborsRegressor

import pickle

In [28]:
immoSV_df = pd.read_csv(r'C:\Users\Admin\Documents\marianneSimplon\simplon\immo_SiliconValley_marianneD\data\traindata_ori.csv',delimiter=',', decimal='.')
immoSV_df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [29]:
# Supression de la colonne Unnamed: 0
immoSV_df = immoSV_df.drop("Unnamed: 0", axis=1)

In [30]:
immoSV_df.dropna(axis=0, inplace=True)

In [31]:
immoSV_df = immoSV_df.reset_index(inplace=False)
immoSV_df = immoSV_df.drop("index", axis=1)

In [32]:
immoSV_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
16331,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16332,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16333,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16334,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16335,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [7]:
df = immoSV_df.copy()

### Split du dataset en un dataset train et un dataset test

In [8]:
immoSV_train, immoSV_test = train_test_split(immoSV_df, test_size=0.3)

In [33]:
immoSV_train.shape

(11435, 10)

In [34]:
immoSV_test.shape

(4901, 10)

### Scaling par normalisation

In [35]:
# Liste des colonnes de données numériques à Scaler
immoSV_num_columns_list = list(immoSV_train.columns)
immoSV_num_columns_list.remove('ocean_proximity')
immoSV_num_columns_list.remove('median_house_value')

In [36]:
sc = MinMaxScaler()
ft_sc = sc.fit(immoSV_train[immoSV_num_columns_list])
immoSV_train[immoSV_num_columns_list] = ft_sc.transform(immoSV_train[immoSV_num_columns_list])

In [37]:
immoSV_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5323,0.606574,0.142402,0.686275,0.030676,0.034146,0.027028,0.036513,0.348906,136500.0,<1H OCEAN
11142,0.724104,0.062699,0.313725,0.215191,0.407574,0.245457,0.372533,0.113364,113700.0,<1H OCEAN
8038,0.692231,0.159405,0.313725,0.048329,0.051529,0.054161,0.055263,0.174142,81800.0,INLAND
6543,0.243028,0.501594,0.470588,0.108155,0.111284,0.080069,0.121875,0.320423,267200.0,<1H OCEAN
12899,0.193227,0.541977,0.725490,0.030473,0.041285,0.032139,0.040296,0.272169,215400.0,NEAR OCEAN
...,...,...,...,...,...,...,...,...,...,...
10785,0.718127,0.022317,0.705882,0.046447,0.081173,0.033330,0.079934,0.157605,129200.0,NEAR OCEAN
6556,0.661355,0.159405,0.313725,0.104085,0.113456,0.064979,0.116941,0.171115,231800.0,INLAND
14009,0.596614,0.163656,1.000000,0.048227,0.075431,0.029584,0.078289,0.169805,175000.0,<1H OCEAN
14787,0.447211,0.199787,0.431373,0.036730,0.099333,0.043938,0.099507,0.046834,225000.0,NEAR OCEAN
9489,0.167331,0.625930,0.313725,0.045734,0.046873,0.026153,0.048684,0.279920,196400.0,<1H OCEAN

In [38]:
immoSV_test[immoSV_num_columns_list] = ft_sc.transform(immoSV_test[immoSV_num_columns_list])

In [39]:
immoSV_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12576,0.582669,0.151966,0.549020,0.069466,0.125097,0.040402,0.114145,0.319175,500001.0,<1H OCEAN
6787,0.598606,0.132837,0.686275,0.018060,0.018780,0.013479,0.020066,0.312099,350000.0,<1H OCEAN
12980,0.466135,0.455898,0.039216,0.051457,0.051839,0.035010,0.055592,0.271424,111300.0,INLAND
766,0.708167,0.073326,0.235294,0.095386,0.100264,0.061758,0.100658,0.246735,196000.0,<1H OCEAN
3953,0.448207,0.449522,0.509804,0.038256,0.053081,0.029549,0.048191,0.167694,83200.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
8606,0.604582,0.160468,0.843137,0.032228,0.073258,0.061303,0.075329,0.076123,275000.0,<1H OCEAN
448,0.653386,0.133900,0.196078,0.267818,0.251125,0.154256,0.266447,0.425518,283200.0,<1H OCEAN
868,0.531873,0.299681,0.725490,0.046599,0.059910,0.042012,0.061020,0.081364,60700.0,INLAND
5096,0.227092,0.565356,0.431373,0.025920,0.031507,0.009103,0.031086,0.180694,155000.0,NEAR BAY
16334,0.618526,0.172157,0.745098,0.070458,0.130064,0.089031,0.126809,0.143108,153500.0,<1H OCEAN

In [90]:
immoSV_train_sc = immoSV_train.copy()
immoSV_test_sc = immoSV_test.copy()

In [91]:
immoSV_train_sc.shape

(11435, 10)

In [92]:
immoSV_test_sc.shape

(4901, 10)

### Encoding par OneHotEncoder

In [93]:
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = enc.fit(immoSV_train_sc[['ocean_proximity']])
enc_df = pd.DataFrame(enc.transform(immoSV_train_sc[['ocean_proximity']]).toarray())

In [94]:
enc_df.shape

(11435, 5)

In [95]:
immoSV_train_sc.shape

(11435, 10)

In [96]:
enc_df.index.isna().any()

False

In [97]:
immoSV_train_sc.index.isna().any()

False

In [98]:
immoSV_train_sc = immoSV_train_sc.reset_index()
immoSV_train_sc = immoSV_train_sc.merge(enc_df,how='inner', on=immoSV_train_sc["index"])
immoSV_train_sc = immoSV_train_sc.drop(['key_0','index','ocean_proximity'], axis=1)
immoSV_train_sc.rename({0: 'NEAR_OCEAN', 1: 'NEAR_BAY',2: 'ISLAND', 3: 'INLAND', 4: 'H_OCEAN'}, inplace=True, axis=1)
immoSV_train_sc

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,NEAR_OCEAN,NEAR_BAY,ISLAND,INLAND,H_OCEAN
0,5323,0.606574,0.142402,0.686275,0.030676,0.034146,0.027028,0.036513,0.348906,136500.0,1.0,0.0,0.0,0.0,0.0
1,11142,0.724104,0.062699,0.313725,0.215191,0.407574,0.245457,0.372533,0.113364,113700.0,1.0,0.0,0.0,0.0,0.0
2,8038,0.692231,0.159405,0.313725,0.048329,0.051529,0.054161,0.055263,0.174142,81800.0,0.0,1.0,0.0,0.0,0.0
3,6543,0.243028,0.501594,0.470588,0.108155,0.111284,0.080069,0.121875,0.320423,267200.0,1.0,0.0,0.0,0.0,0.0
4,12899,0.193227,0.541977,0.725490,0.030473,0.041285,0.032139,0.040296,0.272169,215400.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11430,10785,0.718127,0.022317,0.705882,0.046447,0.081173,0.033330,0.079934,0.157605,129200.0,0.0,0.0,0.0,0.0,1.0
11431,6556,0.661355,0.159405,0.313725,0.104085,0.113456,0.064979,0.116941,0.171115,231800.0,0.0,1.0,0.0,0.0,0.0
11432,14009,0.596614,0.163656,1.000000,0.048227,0.075431,0.029584,0.078289,0.169805,175000.0,1.0,0.0,0.0,0.0,0.0
11433,14787,0.447211,0.199787,0.431373,0.036730,0.099333,0.043938,0.099507,0.046834,225000.0,0.0,0.0,0.0,0.0,1.0
11434,9489,0.167331,0.625930,0.313725,0.045734,0.046873,0.026153,0.048684,0.279920,196400.0,1.0,0.0,0.0,0.0,0.0

In [99]:
enc_df = pd.DataFrame(enc.transform(immoSV_test_sc[['ocean_proximity']]).toarray())

In [100]:
enc_df.shape

(4901, 5)

In [101]:
immoSV_test_sc = immoSV_test_sc.reset_index()
immoSV_test_sc = immoSV_test_sc.merge(enc_df,how='inner', on=immoSV_test_sc["index"])
immoSV_test_sc = immoSV_test_sc.drop(['key_0','index','ocean_proximity'], axis=1)
immoSV_test_sc.rename({0: 'NEAR_OCEAN', 1: 'NEAR_BAY',2: 'ISLAND', 3: 'INLAND', 4: 'H_OCEAN'}, inplace=True, axis=1)
immoSV_test_sc

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,NEAR_OCEAN,NEAR_BAY,ISLAND,INLAND,H_OCEAN
0,12576,0.582669,0.151966,0.549020,0.069466,0.125097,0.040402,0.114145,0.319175,500001.0,1.0,0.0,0.0,0.0,0.0
1,6787,0.598606,0.132837,0.686275,0.018060,0.018780,0.013479,0.020066,0.312099,350000.0,1.0,0.0,0.0,0.0,0.0
2,12980,0.466135,0.455898,0.039216,0.051457,0.051839,0.035010,0.055592,0.271424,111300.0,0.0,1.0,0.0,0.0,0.0
3,766,0.708167,0.073326,0.235294,0.095386,0.100264,0.061758,0.100658,0.246735,196000.0,1.0,0.0,0.0,0.0,0.0
4,3953,0.448207,0.449522,0.509804,0.038256,0.053081,0.029549,0.048191,0.167694,83200.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4896,8606,0.604582,0.160468,0.843137,0.032228,0.073258,0.061303,0.075329,0.076123,275000.0,1.0,0.0,0.0,0.0,0.0
4897,448,0.653386,0.133900,0.196078,0.267818,0.251125,0.154256,0.266447,0.425518,283200.0,1.0,0.0,0.0,0.0,0.0
4898,868,0.531873,0.299681,0.725490,0.046599,0.059910,0.042012,0.061020,0.081364,60700.0,0.0,1.0,0.0,0.0,0.0
4899,5096,0.227092,0.565356,0.431373,0.025920,0.031507,0.009103,0.031086,0.180694,155000.0,0.0,0.0,0.0,1.0,0.0
4900,16334,0.618526,0.172157,0.745098,0.070458,0.130064,0.089031,0.126809,0.143108,153500.0,1.0,0.0,0.0,0.0,0.0

In [102]:
immoSV_train_enc = immoSV_train_sc.copy()
immoSV_test_enc = immoSV_test_sc.copy()

### Definition X et y

In [103]:
df_train = immoSV_train_enc.drop(["H_OCEAN","ISLAND"], axis=1)
df_test = immoSV_test_enc.drop(["H_OCEAN","ISLAND"], axis=1)

In [104]:
X_train = df_train.drop(["median_house_value"], axis=1)
X_test = df_test.drop(["median_house_value"], axis=1)
y_train = df_train[["median_house_value"]]
y_test = df_test[["median_house_value"]]

In [109]:
X_train.to_csv('./datasets/X_train.csv', index=False)
X_test.to_csv('./datasets/X_test.csv', index=False)
y_train.to_csv('./datasets/y_train.csv', index=False)
y_test.to_csv('./datasets/y_test.csv', index=False)

### Feature permutation

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)

In [ ]:
# Perform Permutation
permutation_score = permutation_importance(lr, X_test, y_test,random_state=3,n_repeats=100) 
# Unstack results
importance_df = pd.DataFrame(np.vstack((X_test.columns,permutation_score.importances_mean)).T) 
importance_df.columns=['feature','feature importance']
# Order by importance
importance_df.sort_values(by="feature importance", ascending = False)

In [ ]:
lr = LinearRegression()
lr.fit(X_train[['median_income']], y_train)
print(lr.score(X_test[['median_income']], y_test))
lr.fit(X_train[['median_income','latitude']], y_train)
print(lr.score(X_test[['median_income','latitude']], y_test))
lr.fit(X_train[['median_income','latitude','longitude']], y_train)
print(lr.score(X_test[['median_income','latitude','longitude']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age','total_rooms']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age','total_rooms']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age','total_rooms','H_OCEAN']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age','total_rooms','H_OCEAN']], y_test))
lr.fit(X_train[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age','total_rooms','H_OCEAN','ISLAND']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','total_bedrooms','NEAR_BAY','households','NEAR_OCEAN','INLAND','housing_median_age','total_rooms','H_OCEAN','ISLAND']], y_test))

On enleve les variables H_OCEAN et ISLAND car ils n'apportent rien à notre score, voire ils les baissent.

In [ ]:
immoSV_train = immoSV_train.drop(['H_OCEAN', 'ISLAND'],axis=1)
immoSV_test = immoSV_test.drop(['H_OCEAN', 'ISLAND'],axis=1)
X_train = X_train.drop(['H_OCEAN', 'ISLAND'],axis=1)

In [ ]:
vif_df = pd.DataFrame()
vif_df["vif_index"] = [vif(X_train.values, i) for i in range(X_train.shape[1])]
vif_df["features"] = X_train.columns
vif_df

Latitude, longitude, total_rooms, total_bedrooms, households montrent de la colinéarité.

In [ ]:
lr = LinearRegression()
lr.fit(X_train[['longitude','latitude','total_bedrooms','households','total_rooms']], y_train)
print(lr.score(X_test[['longitude','latitude','total_bedrooms','households','total_rooms']], y_test))
#total_rooms
lr.fit(X_train[['longitude','latitude','total_bedrooms','households']], y_train)
print(lr.score(X_test[['longitude','latitude','total_bedrooms','households']], y_test))
#households
lr.fit(X_train[['longitude','latitude','total_bedrooms','total_rooms']], y_train)
print(lr.score(X_test[['longitude','latitude','total_bedrooms','total_rooms']], y_test))
#total_berooms
lr.fit(X_train[['longitude','latitude','households','total_rooms']], y_train)
print(lr.score(X_test[['longitude','latitude','households','total_rooms']], y_test))
#latitude
lr.fit(X_train[['longitude','total_bedrooms','households','total_rooms']], y_train)
print(lr.score(X_test[['longitude','total_bedrooms','households','total_rooms']], y_test))
#longitude
lr.fit(X_train[['latitude','total_bedrooms','households','total_rooms']], y_train)
print(lr.score(X_test[['latitude','total_bedrooms','households','total_rooms']], y_test))

On garde longitude et latitude. On rejete total_bedrooms, total_rooms et households.

In [ ]:
lr.fit(X_train[['median_income','longitude','latitude','population','NEAR_BAY','NEAR_OCEAN','housing_median_age']], y_train)
print(lr.score(X_test[['median_income','longitude','latitude','population','NEAR_BAY','NEAR_OCEAN','housing_median_age']], y_test))

### Modèle existant

In [110]:
X_train = pd.read_csv('./datasets/X_train.csv')
X_test = pd.read_csv('./datasets/X_test.csv')
y_train = pd.read_csv('./datasets/y_train.csv')
y_test = pd.read_csv('./datasets/y_test.csv')

In [111]:
X_train

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,NEAR_OCEAN,NEAR_BAY,INLAND
0,5323,0.606574,0.142402,0.686275,0.030676,0.034146,0.027028,0.036513,0.348906,1.0,0.0,0.0
1,11142,0.724104,0.062699,0.313725,0.215191,0.407574,0.245457,0.372533,0.113364,1.0,0.0,0.0
2,8038,0.692231,0.159405,0.313725,0.048329,0.051529,0.054161,0.055263,0.174142,0.0,1.0,0.0
3,6543,0.243028,0.501594,0.470588,0.108155,0.111284,0.080069,0.121875,0.320423,1.0,0.0,0.0
4,12899,0.193227,0.541977,0.725490,0.030473,0.041285,0.032139,0.040296,0.272169,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11430,10785,0.718127,0.022317,0.705882,0.046447,0.081173,0.033330,0.079934,0.157605,0.0,0.0,0.0
11431,6556,0.661355,0.159405,0.313725,0.104085,0.113456,0.064979,0.116941,0.171115,0.0,1.0,0.0
11432,14009,0.596614,0.163656,1.000000,0.048227,0.075431,0.029584,0.078289,0.169805,1.0,0.0,0.0
11433,14787,0.447211,0.199787,0.431373,0.036730,0.099333,0.043938,0.099507,0.046834,0.0,0.0,0.0
11434,9489,0.167331,0.625930,0.313725,0.045734,0.046873,0.026153,0.048684,0.279920,1.0,0.0,0.0

In [2]:
ancien_model = pickle.load(open("./existant/model.pkl","rb"))

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator KNeighborsRegressor from version 0.24.1 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [313]:
# !pip install scikit-learn==0.24.2

Collecting scikit-learn==0.24.2
  Downloading scikit_learn-0.24.2-cp38-cp38-win_amd64.whl (6.9 MB)
     ---------------------------------------- 6.9/6.9 MB 1.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.13.3 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn==0.24.2) (1.22.4)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn==0.24.2) (1.0.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn==0.24.2) (1.5.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn==0.24.2) (2.1.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed scikit-learn-0.24.2

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lazypredict 0.2.9 requires click==7.1.2, but you have click 8.1.3 which is incompatible.
lazypredict 0.2.9 requires numpy==1.19.1, but you have numpy 1.22.4 which is incompatible.
lazypredict 0.2.9 requires pandas==1.0.5, but you have pandas 1.4.2 which is incompatible.
lazypredict 0.2.9 requires scikit-learn==0.23.1, but you have scikit-learn 0.24.2 which is incompatible.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.22.4 which is incompatible.
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\users\admin\anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
ancien_model.score(X_test, y_test)

NameError: name 'X_test' is not defined

In [ ]:
ancien_y_pred = ancien_model.predict(X_test)
print(f"MSE : {mean_squared_error(y_test, ancien_y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, ancien_y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, ancien_y_pred)}")

### Critique du modèle existant (underfitting, etc.)

### Modelisation

In [ ]:
model = KNeighborsRegressor()
# 5-Fold Cross validate model
cv_results = cross_validate(model, X, y, cv=5)
# obtain the mean of scores
cv_results['test_score'].mean()

In [ ]:
model.fit(X_train,y_train)
model.predict(X_test)

In [ ]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"MAE : {mean_absolute_error(y_test, y_pred)}")

### GridSearchCV

### Critique du modèle existant (underfitting, etc.)

In [ ]:
# with open("model.pkl", "wb") as file:
#     pickle.dump(model, file)